@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.top-container {
  position: relative;
  background-color: #2d25a0;
  width: 100%;
  height: 780px;
}
section {
  display: flex;
}
.head-title {
  position: absolute;
  color: #ffffff;
  font-size: 65px;
  height: 230px;
  width: 485px;
  margin: 207px 799px 240px 240px;
  line-height: 80px;
}
span {
  position: absolute;
  color: #ffffff;
  background-color: #e02c6d;
  width: 110px;
  margin: 464px 1116px 169px 245px;
  padding: 10px 20px;
}
span:hover {
  background-color: rgb(24, 10, 12);
  width: 110px;
  height: 30px;
  border-radius: 10px;
}

.head-img {
  position: absolute;
  width: 556px;
  height: 468px;
  margin-left: 1000px;
  margin-top: 153px;
}
.head-img:hover {
  transform: rotate(45deg);
}
