@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
  background-color: rgb(243, 243, 243);
  font-family: "Poppins", sans-serif;
  margin: 0;
  position: relative;
}

/* top style start */

.top-container {
  position: relative;
  background-color: #2d25a0;
  width: 100%;
  height: 780px;
}

.head-title {
  position: absolute;
  color: #ffffff;
  font-size: 65px;
  height: 230px;
  width: 485px;
  margin: 207px 799px 240px 240px;
  line-height: 80px;
}
span {
  position: absolute;
  color: #ffffff;
  background-color: #e02c6d;
  width: 110px;
  margin: 464px 1116px 169px 245px;
  padding: 10px 20px;
}
span:hover {
  background-color: rgb(24, 10, 12);
  width: 110px;
  height: 30px;
  border-radius: 10px;
}

.head-img {
  position: absolute;
  width: 556px;
  height: 468px;
  margin-left: 1000px;
  margin-top: 153px;
}
.head-img:hover {
  transform: rotate(45deg);
}

/* top style end */

/* article styles start */

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px;
}
.players-blogs {
  width: 15%;
  margin-left: 150px;
  margin-top: 50px;
}
img {
  width: 100%;
}
.blog {
  background-color: #ffffff;
  padding: 15px;
  width: 330px;
  height: 456px;
  left: 1800px;
  top: 5px;
  border: 4px solid whitesmoke;
  border-radius: 10px;
  box-shadow: 1px 1px 10px whitesmoke;
}

/* article styles end */

/* animation start */
.field {
  border: 1px solid rgb(41, 36, 36);
}
.ball {
  width: 50px;
  height: 50px;
  background-color: rgba(39, 132, 238, 0.986);
  border-radius: 25px;
  position: relative;
  left: 465px;
  bottom: 130px;
  transition: transform 1s ease-out 0.3s;
}
.field:hover .ball{
  transform: translate(1300px, -100px);
}
.socker-man {
  transition: transform 0.3s ease-in;
}
.socker-man{
  width: 20%;
  padding: 70px;
}
.field:hover .socker-man {
  transform: rotate(-30deg);
  transform-origin: top right;
}

/* animation end */

/* footer style start */
.footer {
  text-align: center;
  margin-top: 150px;
}
.footer-img {
  width: 25%;
}
/* social-icon  */
.fa {
  padding: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-facebook {
  background: #0e5afd;
  color: white;
  width: 20px;
  height: 18px;
  border-radius: 5px;
  border: 15px;
}

.fa-instagram {
  color: #fa09aa;
  width: 40px;
  height: 18px;
  border-radius: 5px;
  border: 15px;
}
.fa-twitter {
  background: #55acee;
  color: white;
  width: 20px;
  height: 18px;
  border-radius: 5px;
  border: 15px;
}
.fa-youtube {
  color: red;
  width: 50px;
  height: 18px;
  border-radius: 5px;
  border: 15px;
}

/* footer style end */
